.Chats{
    margin: 10px;
    width: 30%;
    background: #0e0d37;
    border-radius: 10px;
    overflow: hidden;
    max-width: 315px;
}

.profile_container{
    display: flex;
    justify-content: space-between;
    background: #26254f;

}


.profile_div{
    border-radius: 50%;
    height: 50px;
    border: solid #fcd899;
    margin: 5px;
    margin-left: 9px;
    width: 50px;
    overflow: hidden;
}
.profile_container div button{
    background: none;
    border: none;
    margin: -7px -9px;
    cursor: pointer;
}

.addFriend{
    margin-top: 20px;
    margin-right: 6px;
}