.navbar{
    background-color: #0e0d37;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.avatar{
    border-radius: 50%;
    height: 60px;
    overflow: hidden;
    border: solid #fcd899;
    width: 60px;
    margin: 6px;
}
.avatar img{
   cursor: pointer;
   margin: -5px -4px;
}

.dropdowncontainer {
    position: absolute;
    right: 0;
    height: 171px;
    z-index: 10;
}

.dropdown {
    background: #c8db73;
    margin-top: 86px;
    padding: 5px;
}
.dropdown::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
    left: 60%;
    margin-top: 86px;
    border-color: transparent transparent #c9db77 transparent;
    top: -10px;
}


.dropdown div button {
    border: none;
    background: aliceblue;
    color: #1c1c28;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.dropdown div button:hover {
    background: #1c1c28;
    color: aliceblue;
}


